{
    // Use vscode JSON editor to edit settings.
    "workbench.settings.editor": "json",

    // Some chars, i.e. '_', are not displayed with the default font size.
    "terminal.integrated.fontSize": 15,

    "go.testFlags": [
        "-v",
    ],
}
