{
    // Use vscode JSON editor to edit settings.
    "workbench.settings.editor": "json",

    // Some chars, i.e. '_', are not displayed with the default font size.
    "terminal.integrated.fontSize": 15,

    // VSCode is unable to watch for file changes in large workspaces, so exclude specific
    // directories from the VSCode file watcher.
    "files.watcherExclude": {
    "**/.git/objects/**": true,
    "**/.git/subtree-cache/**": true,
    "**/vendor/**": true
    },

    // Add verbose flag when running go tests.
    "go.testFlags": [
        "-v",
    ],

    "go.buildOnSave": "off",

    "go.delveConfig": {
        "dlvLoadConfig": {
            "followPointers": true,
            "maxVariableRecurse": 2,
            "maxStringLen": 64,
            "maxArrayValues": 64,
            "maxStructFields": -1
        }
    },

    "vs-kubernetes": {
        "vs-kubernetes.helm-path": "/home/jdr/.vs-kubernetes/tools/helm/linux-amd64/helm",
        "vs-kubernetes.draft-path": "/home/jdr/.vs-kubernetes/tools/draft/linux-amd64/draft",
        "vs-kubernetes.minikube-path": "/home/jdr/.vs-kubernetes/tools/minikube/linux-amd64/minikube"
    },
    "breadcrumbs.enabled": true
}
